.occ-blog-title {
	width : 200px;
	margin-bottom: 20px;

	h1{
		text-align: center;
	}
}

.occ-categories {
	background-color: @global-bg-color;

	div {
		margin-bottom: 10px;
	}
}

.occ-blog-posts {
	margin-bottom : 20px;
}