.occ-categories {
	background-color: @global-bg-color;

	div {
		margin-bottom: 10px;
	}
}

.occ-blog-posts {
	margin-bottom : 20px;
}

.occ-article-blog {
	h2{
		font-size: 24px;
	}

	
	a{
		color: @theme-color;
		text-decoration: underline;
	}

	.day{
		font-size: 20px;	
	}

	.month{
		font-size: 12px;	
		text-transform: uppercase;
	}

	.year{
		font-size: 10px;	
	}
}

.occ-article-date{
	&.occ-article-date-odd{
		position: absolute;
		left: auto;
		right: 58px;	
	}

	&.occ-article-date-even{
		position: absolute;
		right: auto;
		left: 60px;	
	}
}