.occ-album {
	margin-top : 10px;
	color: white;
}

.occ-album-first {
	margin-top : 0px;	
}

.occ-album-last {
	margin-bottom : 10px;	
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}