.occ-section {
	box-shadow: 3px 3px 6px 5px #c0c0c0;
	border-left: 48px @theme-color solid;

	h2 {
		color: @theme-color;
		margin-left: -44px;
		padding-top: 5px;
	}

	a{
		color: #444;
		text-decoration: underline;
	}

	a:hover{
		color: @theme-color;
		text-decoration: underline;
	}
}

.occ-article {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 5px;
	height: 350px;
}

.occ-article-head{
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	color: #444;

	a{
		text-decoration: none;
	}
}

.occ-article-date{
	color: @theme-color;
	background-color: #fff;
	padding: 3px 5px 5px 3px;
	font-weight: 900;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0.9;

	.day{
		font-size: 40px;	
	}

	.month{
		font-size: 24px;	
		text-transform: uppercase;
	}

	.year{
		font-size: 18px;	
	}
}

.occ-article-content{
	padding-right: 20px;
	max-height: 200px;
	overflow-y:hidden;
}


#newsCarousel{
	padding-bottom: 20px;
}

.occ-section-img{
	width: 40px;
	height: 40px;
	margin-right:10px
}

.occ-section-link{
	padding-bottom: 32px;
}

//surcharge carousel
.carousel-control{
	width: 5%;
	top: 56px;
	bottom: 20px;

	&.right, &.left{
		background-image: none;
		a{
			color: #fff;
		}
	}
}

.voirplus{
	width: 16px;
	height: 16px;
}

.occ-section-social{
	margin-top: 15px;
	margin-bottom: 15px;
	h2 {
		background-color: @theme-color;
		color: #fff;
		padding: 4px;
		border-radius: 30px;
	}
}

.occ-section-little{
	height: 225px;
	font-weight: bold;
	overflow-y: hidden;
	overflow-x: auto;

	a{
		color: @theme-color;
		text-decoration: underline;
	}
}

.occ-section-tournois{
	height: 225px;
}

.occ-no-element{
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}

.occ-tournament-date{
	min-width: 90px;
}
.occ-tournament-resume{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 175px;
}
.occ-tournament-nb-inscrit{
	min-width: 15px;
}

.occ-commentaires{
	font-size: 14px;
	ul{
		padding-left: 0px;
	}

	li{
		list-style: none;
		background-color: #fff;
		margin-top: 3px;	
		padding: 3px;
		max-height: 100px;
		overflow-y: hidden;
	}

	li:first-child{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	li:last-child{
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	a{
		color: #444;
	}
	a:hover {
		color: @theme-color;
	}
}

.occ-banner{
	width: 100%;
	background-color: #fff;
	color: @theme-color;
	border-left: 48px solid #444;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;

	img{
		margin-left:-50px;
		margin-right: 10px;
		width: 35px;
		height: 35px;
	}

	a{
		color: @theme-color;
	}
	a:hover{
		text-decoration: none;
	}
}
