#occ-last-news-title{
 p{
	padding: 10px;
 }
} 

.occ-panel {
	background-image : url('/images/bg-news.png');
	padding : 15px;
}

.occ-last-news-panel {
	background-color: @global-bg-color;
	height:380px;
	padding: 15px;

	blockquote {
		max-height:200px;
		overflow-y:hidden;
	}
}

#occ-last-news {
	margin-bottom: 20px;
}

#occ-tournaments {
  background-color: @lastnews-color;
  border-style: outset;
  border-color: #65426F;
  color: #ecf0f1;
  margin-bottom: 20px;

  .occ-title-string{
	background-color: #ecf0f1;
  }

  .occ-title-text, .text-muted{
	color: #ecf0f1;
  }
}

#occ-tournaments-container{
  	height:380px;
}

#occ-teams-news {
	background-color: @teamresults-color;
	border-style: outset;
  	border-color: #844040;
	color: #ecf0f1;
	margin-bottom: 20px;
	padding-bottom: 15px;

  .occ-title-string{
	background-color: #ecf0f1;
  }

  .occ-title-text, .text-muted{
	color: #ecf0f1;
  }
}

.occ-bad-news {
	background-color: @global-bg-color;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

#occ-ffbad{
	height : 410px;
	overflow: auto;
}

#occ-tuto{
  background-color: @tuto-color;
  color: #ecf0f1;
  margin-bottom: 20px;
  border-style: outset;
  border-color: #D39A75;
  
  .occ-title-string{
	background-color: #ecf0f1;
  }

  .occ-title-text, .text-muted{
	color: #ecf0f1;
  }
}

#occ-tuto-panel{
  height : 410px;
  overflow: auto;
}


.occ-last-result {
	background-color : white;
	color:fireBrick;
	padding : 10px;

	h4 {
		margin-top: 5px;
	}
}

.occ-last-match-result{
    border-radius: 8px;
    min-height: 60px;
    margin-bottom: 10px;

    h4{
       line-height: 40px;
    }
}

.occ-last-Win{
    background-color: #d0e9c6;
}

.occ-last-Loose{
    background-color: #ebcccc;
}

.occ-last-{
    background-color: white;
}

.occ-team-list{
    border-bottom: 0px;
    list-style: none;
    padding-left: 0;
    padding-right: 0px;

    li{

        list-style: none;

        margin: auto;
        display: inline;
        margin: 2px;
        a{
            font-weight: bold;
            padding: 10px;
            padding-left: 20px;
            padding-right:20px;
            background-color: #613A3A;
            text-transform: uppercase;
            text-decoration: none;
            color:white;
            display: inline-block;
            width: 20%;
            height:36px;
            min-width: 115px;
            line-height: 16px;
        }
    }
}
.occ-container-team-list{
    display: block;
    text-align: center;
    margin-top: 20px;
}

.occ-team-list>li.active{
    a{
        background-color: white;
        color : black;
    }
}

.occ-team-list li:first-child a {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.occ-team-list li:last-child a {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.occ-detail-list-container{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
}

.occ-detailResult{
    list-style: none;
    margin: auto;
    text-align: center;
    border-bottom: 0px;

    li{
        list-style: none;
        width: 12%;
        margin: auto;
        display: inline;
        padding: 2px;
        margin: 1px;
    }
}

.occ-detailResult li:first-child{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
//.occ-first-element-list{
//    border-top-left-radius: 20px;
//    border-bottom-left-radius: 20px;
//}

.occ-detailResult li:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
