#occ-last-news-title{
 p{
	padding: 10px;
 }
}

.occ-title-panel{
	margin: 10px 0 20px 0;
}

.occ-title-string{
	height:1px;
	background-color:@gray-light;
}

.occ-title-text {
	text-align:center;
	color: @gray-light
}

.occ-panel {
	background-image : url('/images/bg-news.png');
	padding : 15px;
}

.occ-last-news-panel {
	background-color: @global-bg-color;
	height:380px;
	padding: 30px;

	blockquote {
		max-height:200px;
		overflow-y:hidden;
	}
}

.occ-last-news {
	background-color: @global-bg-color;
	margin-bottom: 20px;
	height : 500px;
}

.occ-teams-news {
	background-color: @global-bg-color;
	margin-bottom: 20px;
	height : 500px;
}

.occ-bad-news {
	background-color: @global-bg-color;
	margin-bottom: 20px;
	height : 500px;
}

.occ-ffbad{
	height : 410px;
	overflow: auto;
}

.occ-last-result {
	background-color : white;
	color:fireBrick;
	padding : 10px;

	h4 {
		margin-top: 5px;
	}
}

article {
	margin: 0px 5% 20px 5%;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	height: 350px;
}

section {
	// padding-left: 10px;
	box-shadow: 3px 3px 6px 5px #c0c0c0;
	border-left: 48px #BF1E2D solid;

	h2 {
		color: #BF1E2D;
		margin-left: -44px;
		padding-top: 5px;
	}

	a{
		color: #BF1E2D;
		text-decoration: underline;
	}
}

.occ-section-img{
	width: 40px;
	height: 40px;
	margin-right:15px
}

.occ-section-link{
	padding-bottom: 32px;
}

.carousel-control{
	width: 5%;
	top: 56px;
	bottom: 20px;
}

.voirplus{
	background: url("/images/plus.png") no-repeat;
	width: 16px;
	height: 16px;
}

