body{
	background-image: url('/images/bg-content.png');
	font-family: 'Roboto';
}

footer .container {
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
}

main {
	padding-top: 20px;
	min-height: 600px;
	padding-bottom: 20px;
}

#occ-header-flag{
	background: #f8f8f8 url('/images/index2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	padding:10px;
}

.affix {
	top : 0;
	width : 100%;
	z-index : 1000;
}

.affix + main {
	padding-top:70px;
}


#occ-logo{
	width: 180px;
	height: 180px;
}

.occ-bg{
	background-color : @flag-bar-color;
	color: #555;
}

#occ-sponsor-bar {
	overflow: hidden;
	font-size: 0px;

  	ul {
	  width: 100%;
	  padding-left: 0px;

	  &:first-child{
		margin-left: -10px;
	  }
	  li {
		display: inline-block;
		margin-left: 10px;

	  	img{
		  height: 50px;
		}
	  }
	}

  	.thumbnail{
	  margin-bottom : 0px;
	}
}

#occ-navbar{
	box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

#occ-header-nav{
	margin-bottom: 0px;
	border-style: none;
}

#occ-header-navbar {
		
		.active{
			a {
				font-weight: bold;
			}
		}

		.linkMenu{
			&:hover,
			&.active{
				border-top: 2px solid transparent;
    			border-color:  @theme-color;
    		}			
		}
}

.occ-title-panel{
	color: @theme-color;
	margin-bottom: 20px;
	font-weight: bold;
	h1{
		font-weight: 900;
		padding-top: 20px;
	}
}
