body {
	background-image: url('/images/bg-body.png');
}

footer .container{
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
}

#body{
	background-image: url('/images/bg-content.png');
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100%;
}

#occ-header-flag{
	background: #333333 url(https://lh4.googleusercontent.com/-aTxs9Gucucs/VJIIge1OF1I/AAAAAAAABrI/UwE6mL2Axo4/w982-h412-no/IMG_5224.JPG);
	background-position-y: center;
	padding:10px;
}

#occ-logo{
	width: 180px;
	height: 180px;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.news {
	float:left;
	margin-right:10px;
}

.occ-flagBar{
	background-color : @flag-bar-color;
	color: white;
}

#occ-sponsor-bar {
	padding : 10px;
}

#occ-header-nav{
	margin-bottom: 0px;
}

#occ-header-navbar {
		color: @gray-light;

		.home {
			&:before
			{
				content:"";
				display:block;
				height: @nav-tab-string-height;
				background-color : @home-color;
			}

			a { 
				&:hover,
				&.active{
					background-color : @home-color;
				} 
			}	
		}

		.blog {
			&:before
			{
				content:"";
				display:block;
				height: @nav-tab-string-height;
				background-color : @blog-color;
			}

			a { 
				&:hover,
				&.active{
					background-color : @blog-color;
				} 
			}			
		}

		.gallery {
			&:before
			{
				content:"";
				display:block;
				height: @nav-tab-string-height;
				background-color : @gallery-color;
			}

			a { 
				&:hover,
				&.active{
					background-color : @gallery-color;
				} 
			}			
		}

		.player {
			&:before
			{
				content:"";
				display:block;
				height: @nav-tab-string-height;
				background-color : @player-color;
			}

			a { 
				&:hover,
				&.active{
					background-color : @player-color;
				} 
			}			
		}

		li.contact {
			&:before
			{
				content:"";
				display:block;
				height: @nav-tab-string-height;
				background-color : @contact-color;
			}

			a { 
				&:hover,
				&.active{
					background-color : @contact-color;
				} 
			}			
		}
}

