body{
	background-image: url('/images/bg-content.png');
}

footer .container {
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
}

main {
	padding-top: 20px;
	min-height: 800px;
	padding-bottom: 20px;
}

#occ-header-flag{
	background: #f8f8f8 url('/images/index2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	padding:10px;
}

.affix {
	top : 0;
	width : 100%;
	z-index : 1000;
}

.affix + main {
	padding-top:70px;
}


#occ-logo{
	width: 180px;
	height: 180px;
}

.occ-bg{
	background-color : @flag-bar-color;
	color: @gray-light;
}

#occ-sponsor-bar {
	height: 160px;
	overflow: hidden;
	font-size: 0px;
  
  	ul {
	  width: 100%;

	  li {
		display: inline-block;
		margin: 10px 0px 10px 10px;
	  }
	}
}

#occ-navbar{
	box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

#occ-header-nav{
	margin-bottom: 0px;
	border-style: none;
}

#occ-header-navbar {
		
		.active{
			a {
				font-weight: bold;
			}
		}

		.home{
			&:hover,
			&.active{
				border-top: 2px solid transparent;
    			border-color:  @home-color;
    		}			
		}

		.club{
			&:hover,
			&.active{
				border-top: 2px solid transparent;
    			border-color:  @club-color;
    		}			
		}

		.subscribe{
			&:hover,
			&.active{
				border-top: 2px solid transparent;
    			border-color:  @subscribe-color;
    		}			
		}

		.blog{
			&:hover,
			&.active{
				border-top: 2px solid transparent;
    			border-color:  @blog-color;
    		}			
		}

		.gallery{
			&:hover,
			&.active{
				border-top: 2px solid transparent;
    			border-color:  @gallery-color;
    		}			
		}
		
		.player{
			&:hover,
			&.active{
				border-top: 2px solid transparent;
    			border-color:  @player-color;
    		}			
		}

		.contact{
			&:hover,
			&.active{
				border-top: 2px solid transparent;
    			border-color:  @contact-color;
    		}			
		}
}

