#occ-table-inscrit {
	color: #000;
	td {
		vertical-align: middle;
	}
	tbody:nth-child(even){
		background-color: #eee;
	}
}

#occ-table-tournois {
	color: #000;
	tr:nth-child(even){
		background-color: #eee;
	}
}
