// Override Bootstrap variables in this file, e.g.

@font-size-base: 14px;
@carousel-indicator-border-color: @gray-light;
@carousel-indicator-active-bg: @gray-light;

@global-bg-color: rgba(0, 0, 0, 0.95);
@bg-color: lighten(@global-bg-color, 70%);
@fg-color: darken(rgba(255, 255, 255, 1), 10%)

@theme-color: #ded605;
@club-color: @theme-color;
@subscribe-color: @theme-color;
@home-color: @theme-color;
@blog-color: @theme-color;
@gallery-color: @theme-color;
@player-color: @theme-color;
@contact-color: @theme-color;

@navbar-default-bg: lighten(@global-bg-color, 50%);
@navbar-default-link-color: @theme-color;
@navbar-default-link-hover-color: #BCBCBC;
@navbar-default-link-active-bg:  lighten(@navbar-default-bg, 10%);
@navbar-default-link-active-color: darken(@navbar-default-link-hover-color, 40%);

@brand-primary: @theme-color;
