// Override Bootstrap variables in this file, e.g.

@font-size-base: 14px;
@carousel-indicator-border-color: @gray-light;
@carousel-indicator-active-bg: @gray-light;

@flag-bar-color: #F8F8F8;

@global-bg-color: #F8F8F8;

@home-color: orange;
@blog-color: red;
@gallery-color: green;
@player-color: blue;
@contact-color: cyan;