// Override Bootstrap variables in this file, e.g.

@font-size-base: 14px;
@carousel-indicator-border-color: @gray-light;
@carousel-indicator-active-bg: @gray-light;

@global-bg-color: #000;
@bg-color: lighten(@global-bg-color, 30%);

@theme-color: #ded605;
@club-color: @theme-color;
@subscribe-color: @theme-color;
@home-color: @theme-color;
@blog-color: @theme-color;
@gallery-color: @theme-color;
@player-color: @theme-color;
@contact-color: @theme-color;

@navbar-default-bg: @bg-color;
@navbar-default-link-color: @theme-color;
@navbar-default-link-hover-color: #ffffff;
@navbar-default-link-active-bg:  lighten(@navbar-default-bg, 10%);
@navbar-default-link-active-color: darken(@navbar-default-link-hover-color, 10%);

@brand-primary: @theme-color;
